<h1>Send a text to everyone on this list!</h1>
<p>Enter your text message below:</p>
<%= form_tag(user_messages_path, method: 'post') do %>
	<%= text_area_tag :body %><br />
	<%= submit_tag "Submit!" %>
<% end %>